/* === БАЗА (для компьютера) === */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  background-color: #EFECE6;
  overflow-x: hidden;
  color: white;
  padding: 0;
}

/*Первая секция*/
.hero-section {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

/* === ФОНЫ === */
.background-gallery {
  position: absolute;
  top: 2%; /* отступ сверху */
  left: 50%; /* центрируем по горизонтали */
  transform: translateX(-50%); /* смещаем на половину ширины */
  display: flex;
  justify-content: center;
  gap: 2%; /* равные расстояния между фото (относительно экрана) */
  padding: 0 1%; /* небольшой внутренний отступ */
  z-index: -1; /* чтобы было на заднем слое */
}

.background-gallery img {
  width: 440px; /* фиксированный размер */
  height: 600px; /* фиксированная высота */
  object-fit: cover; /* чтобы картинка не деформировалась */
}

/* Контейнер с цветами и заголовком */
.flowers-wrapper {
  position: absolute;
  top: 110px; /* смещение всей группы от верха страницы */
  left: 50%;
  transform: translateX(-50%);
  width: 700px; /* ширина по размеру нижнего цветка */
  height: 1000px; /* высота по размеру нижнего цветка */
  z-index: 2; /* слой выше фото, но ниже белого блока */
}

/* Нижний цветок */
.down-flower {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* 700px */
  height: 100%; /* 1000px */
  z-index: 0;
}

/* Верхний цветок */
.top-flower {
  position: absolute;
  top: 435px; /* отступ внутри контейнера */
  right: -5px;
  width: 200px;
  height: 259px;
  z-index: 2; /* выше белого блока */
}

/* Белый прямоугольник */
.white-box {
  position: absolute;
  top: 245px; /* отступ сверху */
  left: 50%;
  transform: translateX(-50%);
  width: 600px; /* ширина прямоугольника */
  height: 300px; /* высота прямоугольника */
  background-color: #fff;
  display: flex; /* чтобы выровнять картинку */
  align-items: center; /* по вертикали */
  justify-content: center; /* по горизонтали */
  z-index: 1; /* выше, чем фото */
  box-shadow: 0 4px 15px rgba(0,0,0,0.5); /* тень для эффекта */
}

/* Картинка внутри */
.white-box img {
  max-width: 90%; /* чтобы не выходила за пределы блока */
  max-height: 90%; /* чтобы не выходила за пределы блока */
}

/*Вторая секция*/
.triple-block {
  display: flex;
  justify-content: center; /* центрируем содержимое */
  align-items: center;
  gap: 2%; /* расстояние между элементами */
  margin-top: -3%; /* отступ от предыдущего блока */
  position: relative;
  width: 100%;
  max-width: 1400px; /* ограничиваем ширину для красоты */
  margin-left: auto;
  margin-right: auto; /* центрируем сам блок */
  z-index: 0;
}

/* Левое и правое фото */
.side-image {
  width: 300px;
  height: auto;
  object-fit: cover;
  z-index: 1;
}

/* Центральный блок с текстом */
.center-text {
  width: 50%;
  text-align: center;
}

.center-text img{
  margin-top: 5%;
  margin-bottom: 5%;
}

/* === ТЕКСТ И ЗАГОЛОВКИ === */
@font-face {
  font-family: 'FoglihtenNo06';
  src: url('FoglihtenNo06_076.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1, h2 {
  font-family: 'FoglihtenNo06', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #413B2F;
  margin: 0.5rem auto;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 1.8rem;
}

@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GoodVibes';
  src: url('GoodVibesCyr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.main-subtitle {
  font-family: 'Montserrat', sans-serif;
    color: #413B2F;
    font-size: 1.2rem;
    font-weight: 300; /* или 300 */
    letter-spacing: 0.1em; /* увеличивает расстояние и визуально "разгружает" текст */
    margin: 0;
    padding: 0;
}

.below-text {
  text-align: center;
  margin-top: 2%; /* отступ от второй секции */
}

.bellow-title {
  font-family: 'GoodVibes', sans-serif;
    color: #413B2F;
    font-size: 2.4rem;
    font-weight: 300; /* или 300 */
    margin: 0;
    padding: 0;
}

/*Третья секция*/
.split-section {
  position: relative;
  width: 100%;
  padding: 5% 0; /* отступы сверху и снизу */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Картинка на заднем плане */
.down-flower-bg {
  position: absolute;
  top: -280px;
  left: 45%;
  width: 700px;
  height: 1000px;
  z-index: -1; /* чтобы была позади контента */
  pointer-events: none; /* чтобы не мешала кликам */
}

/* Контент */
.split-content {
  display: flex;
  justify-content: center; /* выравнивание по центру */
  align-items: center;
  width: auto; /* убираем 80%, чтобы не было лишнего пространства */
  gap: 0; /* убираем зазор */
  margin: 0 auto;
  z-index: 1;
}

/* Левая картинка */
.left-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

/* Белый блок справа — компьютерная версия */
.right-box {
  width: 100%;
  max-width: 500px; /* максимум при широком экране */
  min-width: 350px; /* чтобы не сжимался слишком сильно */
  margin-right: 2%; /* отступ от правого края */
  height: auto; /* пусть высота подстраивается */
  background: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
    color: #413B2F;
    font-size: 1.0rem;
    font-weight: 300; /* или 300 */
    letter-spacing: 0.1em; /* увеличивает расстояние и визуально "разгружает" текст */
    margin: 0;
    padding: 1%;
}

.big-subtitle {
  font-family: 'FoglihtenNo06', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
  color: #413B2F;
  margin: 0.5rem auto;
}

/* Четвертая Секция с Прайсом */
.price-section {
  position: relative;
  background-image: url('section_4_F1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 20px; /* отступы сверху и снизу */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Контейнер для центрирования содержимого */
.price-content {
  text-align: center;
  width: 100%;
  color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;     /* Центрирует все элементы по горизонтали */
  justify-content: center; /* Центрирует по вертикали, если нужно */
}

/* Заголовок "ПРАЙС" */
.price-title {
  font-family: 'FoglihtenNo06', sans-serif;
  font-weight: 300;
  text-align: center;
  color: white;
  margin: 0.5rem auto;
  font-size: 3.5rem;
}

/* Белый прямоугольник */
.price-box {
  width: 500px;
  height: auto; /* пусть высота подстраивается под контент */
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  margin-bottom: 3%;
  margin-top: 3%;
  text-align: left;
  display: block; /* убираем flex */
}

/* Текст в белом блоке */
.subtitle-box {
  font-family: 'Montserrat', sans-serif;
    color: #413B2F;
    font-size: 1.1rem;
    font-weight: 300; /* или 300 */
    letter-spacing: 0.1em; /* увеличивает расстояние и визуально "разгружает" текст */
    margin: 0;
    padding: 2%;
}

/* Текст под белым блоком */
.price-footer-text {
  font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.2rem;
    font-weight: 300; /* или 300 */
    margin: 0;
    padding: 1%;
}

/* Пятая Секция с Каруселью */
.appointment-section {
  text-align: center;
}

.appointment-content {
  margin: 0 auto;
}

/* Кнопка */
.appointment-button {
  font-family: 'FoglihtenNo06', sans-serif;
  font-weight: 300;
  color: #413B2F;
  padding: 20px 50px 12px; /* сверху | по бокам | снизу */
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-bottom: 50px;
  font-size: 3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 5%;
}

.appointment-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* Карусель фото*/
.carousel-2 .owl-item {
  padding: 10px 0 30px 0;
}
.carousel-2 .owl-pic  {
  background: #413B2F;
  margin: 40px 0;
  border: 5px solid #413B2F;
  border-top: 10px solid #413B2F;
  border-bottom: 10px solid #413B2F;
  transition: all 0.4s ease;
  width: 350px;
  height: 440px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.3), 0 16px 20px rgba(0,0,0,0.2);
}
.carousel-2 .owl-item.center .owl-pic {
  opacity: 1;
  border: 8px solid #EFECE6;
  margin: 0 0 0 -15%;
  width: 400px;
  height: 500px;
}
.carousel-2 .owl-item.center + .owl-item {
  position: relative;
  z-index: -1;
}
.carousel-2 .owl-pic img {
  width: 100%;
  height: 100%;
  transition: 0.3s opacity ease, 0.3s transform ease;
  opacity: 0.6;
  object-fit: cover;
}
.carousel-2 .owl-item .owl-pic:hover img,
.carousel-2 .owl-item.center .owl-pic img {
  opacity: 1;
}
.carousel-2 .owl-nav button.owl-prev,
.carousel-2 .owl-nav button.owl-next {
  position: absolute;
  cursor: pointer;
  font-size: 60px!important;
  color: #FFF!important;
  top: 0;
  height: 100%;
  width: 70px;
  transition: 0.3s opacity ease;
  opacity: 0.6;
  margin: 0;
  padding-bottom: 30px!important;
}
.carousel-2 .owl-nav button.owl-prev:hover,
.carousel-2 .owl-nav button.owl-next:hover {
  opacity: 1;
}
.carousel-2 .owl-nav button.owl-prev,
.carousel-2 .owl-nav button.owl-prev:hover {
  left: 0;
}
.carousel-2 .owl-nav button.owl-next,
.carousel-2 .owl-nav button.owl-next:hover {
  right: 0;
}

/* Шестая Секция с Контактами */
.messenger-section {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.messenger-text {
  max-width: 800px; /* задайте нужную ширину */
  margin: 0 auto;
  text-align: left;
}

.messenger-title {
  font-family: 'Montserrat', sans-serif;
  color: #413B2F;
  font-size: 1.3rem;
  font-weight: 300; /* или 300 */
  letter-spacing: 0.1em; /* увеличивает расстояние и визуально "разгружает" текст */
  margin: 0;
  padding: 1%;
  z-index: 2;
  position: relative;
}

.messenger-actions {
  position: relative; /* создаём один контекст наложения */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1; /* весь блок выше обычного фона */
}

/* Кнопка */
.number-button {
  font-family: 'FoglihtenNo06', sans-serif;
  font-weight: 300;
  position: relative;
  z-index: 2; /* кнопка над фоном */
  color: #413B2F;
  padding: 20px 50px 12px; /* сверху | по бокам | снизу */
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-bottom: 50px;
  font-size: 3rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 5%;
}

.number-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* КНОПКИ */
.messenger-buttons {
  display: flex;
  justify-content: center;
  gap: 100px;
  z-index: 2;
  position: relative;
  margin-bottom: 3%;
}

.messenger-btn {
  width: 100px;
  height: 100px;
  background-color: #efece6ab;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
  border-radius: 50px;
}

/* Подсветка при наведении */
.messenger-btn:hover {
  transform: scale(1.1);
  border-radius: 40px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* Фоны для каждой кнопки */
.telegram {
  background-image: url('telegram.svg');
}

.whatsapp {
  background-image: url('whatsapp.svg');
}

.viber {
  background-image: url('viber.svg');
}

/* Цветок на заднем фоне */
.flower-background {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 1200px;
  z-index: 0;
  pointer-events: none;
  user-select: none;
  object-fit: contain;
}




/* === МОБИЛЬНАЯ ВЕРСИЯ === */
@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  /* Первая секция */
  .hero-section {
    height: 450px;
  }
  .background-gallery {
    align-items: center;
    position: relative;
  }
  .background-gallery img {
    width: 130px;
    height: 200px;
  }

  .flowers-wrapper {
    top: 210px; /* смещение всей группы от верха страницы */
    width: 375px; /* ширина по размеру нижнего цветка */
    height: 208px; /* высота по размеру нижнего цветка */
  }

  .down-flower{
    width: 375px;
    height: 208px;
    left: 0px;
    top: 0px;
  }
  .top-flower {
    height: 139px;
    top: 69px;
    right: -49px;
  }
  .white-box {
    top: -45px;
    width: 80%;
    height: auto;
  }
  .white-box img {
    max-width: 100%;
    height: auto;
  }

  /* Вторая секция */
  .triple-block {
    gap: 1%;
    margin-top: 0;
  }
  .side-image {
    width: 85px;
    height: 140px;
  }
  .center-text {
    width: 50%;
  }
  .center-text img {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 80%;
  }
  h1 { font-size: 1.5rem; }
  h2 { font-size: 1.0rem; }
  .main-subtitle { font-size: 0.7rem; }

  /* Below text */
  .bellow-title { font-size: 1.7rem; padding: 20px 10px;}

  /* Третья секция */
  .split-section {
    flex-direction: column;
    padding: 0 0;
  }
  .down-flower-bg {
    display: none;
  }
  .split-content {
    flex-direction: column;
    width: 100%;
  }
  .left-image img {
    width: 90%;              /* уменьшили ширину, чтобы появились поля */
    display: block;          /* нужно для центрирования через margin */
    margin: 0 auto 20px auto; /* auto слева и справа — выравнивание по центру, 20px снизу */
    padding: 0;               /* убрали внутренние отступы */
  }
  
  .right-box {
    width: 90%;    
    padding: 5%;
    height: auto;
  }
  .subtitle { font-size: 0.7rem; }

  .big-subtitle {
    font-size: 1.5rem;
  }

  /* Прайс */
  .price-title {
    font-size: 2.0rem;
  }
  .price-box {
    width: 90%;
    padding: 10px;
  }
  .subtitle-box {
    font-size: 0.65rem;
  }
  .price-footer-text {
    font-size: 0.8rem;
    text-align: center;
  }

  /* Кнопка встречи и карусель */
  .appointment-button {
    font-size: 1.2rem;
    padding: 14px 25px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /* Центрируем каждый элемент карусели */
  .carousel-2 .owl-item {
    display: flex;
    justify-content: center;
    padding: 10px 0 20px 0;
  }

  /* Общие фото */
  .carousel-2 .owl-pic {
    width: 200px;
    height: 300px;
    margin: 10px auto;
    border: 6px solid #413B2F;
    border-top-width: 8px;
    border-bottom-width: 8px;
  }

  /* Центральное фото без смещения */
  .carousel-2 .owl-item.center .owl-pic {
    width: 260px;
    height: 330px;
    margin: 0 auto;
    border: 6px solid #EFECE6;
  }

  /* Изображения внутри */
  .carousel-2 .owl-pic img {
    opacity: 1;
  }

  /* Кнопки навигации */
  .carousel-2 .owl-nav button.owl-prev,
  .carousel-2 .owl-nav button.owl-next {
    font-size: 40px !important;
    width: 50px;
    opacity: 0.8;
  }

  /* Секция с контактами */
  .messenger-text {
    width: 90%;
  }
  .messenger-title {
    font-size: 1rem;
    letter-spacing: 0.05em;
  }
  .number-button {
    font-size: 1.2rem;
    padding: 14px 25px 10px;
    margin-bottom: 20px;
  }
  .messenger-buttons {
    gap: 20px;
    flex-wrap: wrap;
  }
  .messenger-btn {
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
  .flower-background {
    width: 100%;
    max-width: 500px;
  }

}

